<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

</head>
<body style="background: #f4f4f4;">
<div style="padding: 3%;">
      <p>你好，欢迎光临<span style="font-size:24px;font-weight:bold;">F.Takanashi</span>的博客。当然，这不是我的本名，甚至不是我自己想出来的昵称（笑）。</p>
      <p>我是一个半路出家的小学生，以前我觉得我学习能力还行，也有很丰富的兴趣。现在想想可能一切都是对自己的误会（笑）。</p>
      <p>总之，现在我一边尝试着把我自己的所思所想记录下来，一边也会不定期的把一些老旧的内容根据最新的想法进行更新。</p>

      <p>我的写作风格是“啰嗦”。十分十分十分“啰嗦”。和那些动不动就让人读论文的大神不同，虽然我读论文语言障碍不大，但是我并不认为论文都很细致地说明了某个模型/算法的所有理论和实现上的细节。相反，很多时候都有很多残缺遗漏。所以我力求在我所有博文里都做到从零开始。这么做另外一个很大的原因也是因为我自己记忆力很差，希望一段时间后回过头来看文章时不会是一头雾水。。</p>
      <br/>
      <p>我不专业也不牛，还在探索的路上缓缓前行中。请多指教。</p>
      <p style="color: gray;border-left: 5px solid lightgray;padding-left: 5px;">如果你有什么想说的，欢迎进入导航栏留言板，或者在文章界面点击屏幕右下方添加评论按钮增加评论。</p>
</div>
</body>
</html>