.post{
    padding: 5%;
    background: white;
    margin-bottom: 20px;
    border: 1px solid #eeeeee;
    border-radius: 1%;
}
.post:hover{
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
}

.post-info-wrap{
    margin-top: 10px;
}

.post-info-wrap .post-info{
    display: inline;
    margin-right: 15px;
}
.post-body{
    margin-top: 5%;
}
.main-ground{
    width: 90%;
    margin-left: 5%;
}
.left-ground{
    display: none;
}
.my-clock{
    max-height: 100%;
    max-width: 100%;
}