{% extends 'myadmin/base.html' %}
{% load static %}

{% block breadcrumb %}{% endblock %}
{% block task_menu %}{% endblock %}
{% block message_menu %}{% endblock %}
{% block notification_menu %}{% endblock %}
{% block control-sidebar-toggle %}{% endblock %}
{% block control-side %}{% endblock %}
{% block user_account_menu %}{% endblock %}


{% block content-header-title %}数据字典管理{% endblock %}
{% block content-header-description %}一些博客中用到的静态数据的数据字典{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'comp/layer/css/layui.css' %}" >
    <style>
    .layui-collapse{
        border: 0;
    }
    .layui-colla-item{
        border: 1px solid darkgray;
        margin-top: 15px;
    }
    .layui-colla-item:hover{
        box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.7);
    }
    </style>
{% endblock %}

{% block main-content %}
    <section class="content container-fluid">
    <a href="javascript:void(0);" id="btn_add"><i class="fa fa-plus-circle"></i></a>
    <div class="layui-collapse">
    {% for category,kvs in dictInfo.items %}
    <div class="layui-colla-item">
        <h2 class="layui-colla-title">类型：{{ category }}</h2>
        <div class="layui-colla-content layui-show">
            {% for key,value in kvs.items %}
            <div class="layui-form-item">
                <div class="layui-inline" style="width: 100%;">
                    <label class="layui-form-label">Key</label>
                    <div class="layui-input-inline" style="width: 10%;">
                        <input class="layui-input" autocomplete="off" value="{{ key }}" id="key_{{ key }}" readonly>
                    </div>
                    <label class="layui-form-label">Value</label>
                    <div class="layui-input-inline" style="width: 30%;">
                        <input class="layui-input" autocomplete="off" value="{{ value.0 }}" id="value_{{ key }}" >
                    </div>
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-inline" style="width: 15%;">
                        <input class="layui-input" autocomplete="off" value="{{ value.1 }}" id="comment_{{ key }}" >
                    </div>
                    <div class="layui-form-mid">
                        <button class="btn btn-xs btn-primary btn-submit" id="submit_{{ key }}"><i class="fa fa-save"></i>保存</button>
                        <button class="btn btn-xs btn-danger btn-delete" id="delete_{{ key }}"><i class="fa fa-trash"></i>删除</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    </div>
    </section>
{% endblock %}

{% block script %}
    <script src="{% static 'comp/layer/layer.js' %}"></script>
    <script src="{% static 'comp/layer/layui.js' %}"></script>
    <script>
    $(function(){
        $(document).ready(function(){
            var element = layui.use('element', function(){
                var element = layui.element;
            });

            $('.btn-submit').click(function(event){
                event.preventDefault();
                var loadLayer = layer.load('1',{shade: 0.5});
                var key = $(this).attr('id');
                key = key.trim().replace('submit_','');
                var value = $('#value_' + key).val();
                var comment = $('#comment_' + key).val();
                $.ajax({
                    url: location.pathname,
                    type: 'put',
                    dataType: 'json',
                    data: {
                        key: key,
                        value: value,
                        comment: comment
                    },
                    success: function(data){
                        location.reload();
                    },
                    error: function(xml ,err, exc){
                        try{
                            layer.msg(JSON.parse(xml.responseText).msg);
                        }
                        catch(e){
                            layer.msg('未知错误');
                        }
                    },
                    complete: function(){layer.close(loadLayer);}
                });
            });

            $('.btn-delete').click(function(event){
                var key = $(this).attr('id');
                layer.confirm('确定要删除这个Key吗？',{icon: 3,title: '提示'}, function(index){
                    event.preventDefault();
                    var loadLayer = layer.load('1',{shade: 0.5});
                    key = key.trim().replace('delete_','');
                    $.ajax({
                        url: location.pathname,
                        type: 'delete',
                        dataType: 'json',
                        data: {
                            key: key
                        },
                        success: function(data){
                            location.reload();
                        },
                        error: function(xml ,err, exc){
                            try{
                                layer.msg(JSON.parse(xml.responseText).msg);
                            }
                            catch(e){
                                layer.msg('未知错误');
                            }
                        },
                        complete: function(){layer.close(loadLayer);}
                    });
                });
            });

            $('#btn_add').click(function(){
                layer.open({
                    content: location.pathname + '?type=add',
                    type: 2,
                    area: ['65%','80%'],
                    title: '新增字典项'
                });
            });
        });
    });
    </script>
{% endblock %}