{% extends 'original/base.html' %}
{% load static %}

{% block toolsbar %}{% endblock %}
{% block left_page_content %}{% endblock %}

{% block style %}
    <link href="{% static 'AdminLTE/bower_components/bootstrap-table/dist/bootstrap-table.min.css' %}" rel="stylesheet" />
    <link href="{% static 'comp/bootstrap-switch/css/bootstrap-switch.min.css' %}" rel="stylesheet" />
    <style>
    .main-panel{
        margin-top: -50px;
        padding: 40px;
        background: #f4f4f4;
    }
    </style>
{% endblock %}

{% block main_ground %}
    <div class="main-panel">
    <h3 style="text-align: center" id="title-text"></h3>
    <h4 style="text-align: center" id="src-text"></h4>
    <div class="row">
        <div class="col-lg-2 col-md-2"></div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <table id="content-table"></table>
        </div>
    </div>
    <br/>
    <div class="row" style="text-align:center;">
        <div class="col-lg-12">
            <button class="btn btn-default btn-sm" id="submit-download">
                <span class="glyphicon glyphicon-download"></span>
                远端下载
            </button>
        </div>
        <div class="col-lg-12">
            <a href="javascript:void(0);" style="text-decoration: none;" id="show-more-options">更多选项</a>
        </div>
    </div>
    <hr>
    <div class="row" style="display: none; text-align:center;" id="more-options">
        <div class="col-lg-3 col-sm-1"></div>
        <div class="col-lg-6 col-sm-10">
            <div class="row">
                <div class="form-group">
                    <input class="form-control" id="fnInput" placeholder="输出文件名" />
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="control-label" for="withCaption">
                        下载字幕/歌词/弹幕<input type="checkbox" id="withCaption" />
                    </label>
                </div>
            </div>
            <div style="display:{% if is_playlist %}block{% else %}none{% endif %};">
                <div class="row">
                    <div class="form-group">
                        <label class="control-label" for="listDownload">
                            播放列表下载<input type="checkbox" id="listDownload" />
                        </label>
                    </div>
                </div>
                <div class="row" style="display: none;">
                    <div class="form-group">
                        <label class="control-label" for="manualFormInput">手动输入格式</label>
                        <input class="form-control" id="manualFormInput" placeholder="请输入上面表格中每P都有的格式" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block hidden_inputs %}
    <input type="hidden" value="{{ uuid }}" id="uuidInput" />
    <input type="hidden" value="{{ content }}" id="contentInput" />
    <input type="hidden" value="{{ totalUrl }}" id="totalUrlInput" />
{% endblock %}

{% block script %}
<script src="{% static 'AdminLTE/bower_components/bootstrap-table/dist/bootstrap-table.min.js' %}"></script>
<script src="{% static 'comp/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>
<script>
$(document).ready(function(){
    // 构建bootstrapSwitch
    $('#withCaption').bootstrapSwitch({
        size: 'mini',
        onText: '是',
        offText: '否'
    });

    $('#listDownload').bootstrapSwitch({
        size: 'mini',
        onText: '是',
        offText: '否',
        onSwitchChange: function(e, data){
            var tableContent = $('#content-table').parents('div.row');
            var manualInput = $('#manualFormInput').parents('div.row');
            if(data){
                $(tableContent).slideUp();
                $(manualInput).slideDown();
            }
            else{
                $(tableContent).slideDown();
                $(manualInput).slideUp();
            }
        }
    });

    // show-more
    $('#show-more-options').click(function(event){
        $('#more-options').show();
    });

    // 填充缓冲内容
    var content_strs = $('#contentInput').val().split('###');
    var contents = [];
    for(var i= 0;i<content_strs.length;i++){
        contents.push(JSON.parse(content_strs[i]));
    }
    $('#totalUrlInput').val(contents[0].url);
    $('#title-text').text(contents[0].title);
    var link = '<a href="'+ contents[0].url +'" style="text-decoration: none;" id="src-link">'+ contents[0].site +'</a>';
    $('#src-text').html('源站:' + link);
    var rows = [];

    for(var j=0;j<contents.length;j++){
        var content = contents[j];
        for (k in content.streams){
            var stream = content.streams[k];
            stream.format = k;
            stream.title = content.title;
            stream.src_url = content.url;
            rows.push(stream);
        }
    }

    // 构建bootstrapTable
    $('#content-table').bootstrapTable({
        data: rows,
        search: true,
        showToggle: true,
        showColumns: true,
        clickToSelect: true,
        columns: [{
            radio: true,
            visible: true
        },{
            field: 'title',
            title: '标题',
            visible: true,
            sortable: true
        },{
            field: 'src_url',
            title: 'URL',
            visible: false,
            sortable: false
        },{
            field: 'format',
            title: '格式',
            visible: false,
            sortable: true
        },{
            field: 'quality',
            title: '画质'
        },{
            field: 'container',
            title: '格式',
            sortable: true
        },{
            field: 'src',
            title: '源地址',
            visible: false,
            formatter: function(value, row, index){
                srcs = [];
                for(var i=0;i<value.length;i++){
                    var src = '<a href="' + value[i] + '">源地址' + (i+1).toString() + '</a>';
                    srcs.push(src);
                }
                return srcs.join('<br/>');
            }
        },{
            field: 'size',
            title: '大小',
            sortable: true,
            formatter: function(value, row, index){
                var unitArray = ['B', 'KB', 'MB', 'GB'];
                var unitCursor = 0;
                while (value >= 1024 && unitCursor != unitArray.length - 1){
                    value = value / 1024.0;
                    unitCursor += 1;
                }
                return value.toFixed(2) + unitArray[unitCursor];
            }
        }]
    });

    $('#submit-download').click(function(event){
        event.preventDefault();
        var selections = $('#content-table').bootstrapTable('getSelections');
        var listDownload = $('#listDownload').prop('checked');

        if(listDownload){
            // 播放列表下载模式
            var format = $('#manualFormInput').val();
            var withCaption = $('#withCaption').prop('checked');
            var url = $('#totalUrlInput').val();
            var postData = {
                f: format,
                c: withCaption,
                u: url,
                l: 'true'
            }
        }
        else{
            if (selections.length != 1){ return; }
            var format = selections[0].format;
            var url = selections[0].src_url;
            var outputFn = $('#fnInput').val();
            var withCaption = $('#withCaption').prop('checked');
            var postData = {
                f: format,
                c: withCaption,
                u: url,
                l: 'false',
                o: outputFn
            }
        }

        postData['method'] = 'download';

        var loadLayer = layer.load('1', {shade: 0.5});
        $.ajax({
            url: location.pathname,
            type: 'post',
            dataType: 'json',
            data: postData,
            success: function(data){
                layer.alert(data.msg);
            },
            error: function(xml, err, exc){
                var msg;
                try{
                    msg = JSON.parse(xml.responseText).msg;
                }
                catch(e){
                    msg = '未知错误';
                }
                layer.msg(msg);
            },
            complete: function(){layer.close(loadLayer);}
        });
    });

});
</script>
{% endblock %}