{% extends 'myadmin/modulemanage/base/edit.html' %}

{% load static %}

{% block form-content %}
    <div class="form-group">
        <label class="control-label" for="nameInput">分类名称</label>
        <input class="form-control" id="nameInput" />
    </div>
    <div class="form-group">
        <label class="control-label" for="descriptionInput">分类描述</label>
        <input id="descriptionInput" class="form-control" />
    </div>
{% endblock %}

{% block script %}
<script>
$(function(){
$(document).ready(function(){
    $('#submit').click(function(){
        var loadLayer = layer.load('1',{shade: 0.5});
        var name = $('#nameInput').val();
        var description = $('#descriptionInput').val();
        $.ajax({
            url: location.pathname,
            type: 'post',
            dataType: 'json',
            data: {
                name: name,
                description: description
            },
            success: function(data){
                var frameIndex = parent.layer.getFrameIndex(window.name);
                parent.layer.close(frameIndex);
                parent.location.reload();
            },
            error: function(xml, err, exc){
                try{
                    layer.msg(JSON.parse(xml.responseText).msg);
                }
                catch(e){
                    layer.msg('未知错误');
                }
            },
            complete: function(){layer.close(loadLayer);}
        });
    });
});
});
</script>
{% endblock %}