{% extends 'myadmin/modulemanage/base/edit.html' %}

{% load static %}

{% block form-content %}
    <div class="form-group">
        <label class="control-label" for="idInput">分类ID</label>
        <input class="form-control" id="idInput" readonly value="{{ category.cate_id }}" />
    </div>
    <div class="form-group">
        <label class="control-label" for="nameInput">分类名称</label>
        <input class="form-control" id="nameInput" value="{{ category.name }}" />
    </div>
    <div class="form-group">
        <label class="control-label" for="descriptionInput">分类描述</label>
        <input id="descriptionInput" class="form-control" value="{{ category.description }}" />
    </div>
    <div class="row">
        <div class="form-group col-lg-6 col-md-6 col-xs-6">
            <label class="control-label" for="createTimeInput">创建时间</label>
            <input class="form-control" id="createTimeInput" readonly value="{{ category.create_time }}" />
        </div>
        <div class="form-group col-lg-6 col-md-6 col-xs-6">
            <label class="control-label" for="updateTimeInput">更新时间</label>
            <input class="form-control" id="updateTimeInput" readonly value="{{ category.update_time }}" />
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
$(function(){
$(document).ready(function(){
    $('#submit').click(function(event){
        var loadLayer = layer.load('1',{'shade': 0.5});
        var cate_id = $('#idInput').val();
        var name = $('#nameInput').val();
        var description = $('#descriptionInput').val();
        $.ajax({
            url: location.pathname,
            type: 'put',
            dataType: 'json',
            data: {
                cate_id: cate_id,
                name: name,
                description: description
            },
            success: function(data){
                var frameId = parent.layer.getFrameIndex(window.name);
                parent.layer.close(frameId);
                parent.location.reload();
            },
            error: function(xml,err, exc){
                try{
                    layer.msg(JSON.parse(xml.responseText).msg);
                }
                catch(e){
                    layer.msg('未知错误');
                }
            },
            complete: function(){layer.close(loadLayer);}
        })
    })
});
});
</script>
{% endblock %}