{% extends 'myadmin/base.html' %}

{% block breadcrumb %}{% endblock %}
{% block message_menu %}{% endblock %}
{% block task_menu %}{% endblock %}
{% block control-sidebar-toggle %}{% endblock %}
{% block control-side %}{% endblock %}
{% block user_account_menu %}{% endblock %}

{% block content-header-title %}管理模块{% endblock %}
{% block content-header-description %}管理什么模块{% endblock %}

{% block main-content %}
    <div class="table-responsive">
        {% block toolbar-btn %}
        <div class="btn-group" id="toolbar">
            <button id="btn_add" type="button" class="btn btn-sm btn-default" title="新增">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
        {% endblock %}
        <table id="manageTable"></table>
    </div>
{% endblock %}