{% extends 'myadmin/modulemanage/base/view.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'AdminLTE/bower_components/bootstrap-table/dist/bootstrap-table.min.css' %}">
<style>
    .table-responsive{
        padding: 30px;
    }
</style>
{% endblock %}

{% block content-header-title %}<i class="fa fa-comment"></i>管理评论模型{% endblock %}
{% block content-header-description %}{% endblock %}

{% block toolbar-btn %}{% endblock %}

{% block script %}
<script src="{% static 'AdminLTE/bower_components/bootstrap-table/dist/bootstrap-table.min.js' %}"></script>
<script src="{% static 'AdminLTE/bower_components/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js' %}"></script>
<script src="{% static 'comp/layer/layer.js' %}"></script>
<script>
$(function(){
$(document).ready(function(){
    $('#manageTable').bootstrapTable({
        url: '{% url 'comment.api' %}',
        columns: [{
            checkbox: true,
            align: 'center'
        },{
            field: 'comment_id',
            title: '评论ID',
            sortable: true
        },{
            field: 'title',
            title: '标题(作废)',
            visible: false
        },{
            field: 'author',
            title: '作者',
            sortable: true
        },{
            field: 'content',
            title: '内容'
        },{
            field: 'create_time',
            title: '创建时间',
            sortable: true
        },{
            field: 'in_post',
            title: '所属文章',
            sortable: true,
            formatter: function(value ,row, index){
                var link;
                try{
                    var info = JSON.parse(value);
                    link = '<a target="_blank" href="/blog/'+info.uuid+'">'+info.title+'</a>';
                }
                catch(e){
                    link = '未知链接';
                }
                return '#' + row.floor + ' ' + link;
            }
        },{
            field: 'source_ip',
            title: '来源IP',
            sortable: true
        },{
            field: 'floor',
            title: '楼层',
            visible: false
        },{
            field: 'reply_to',
            title: '回复的几楼',
            visible: false
        },{
            field: 'operations',
            title: '操作',
            formatter: function(value, row, index){
                return [
                    '<button class="btn btn-xs btn-danger del-btn" name="'+ row.comment_id +'"><i class="fa fa-trash"></i>删除</button>'
                ].join('&nbsp;');
            }
        }],
        resizable: true,
        pagination: true,
        sidePagination: 'client',
        pageNumber: 1,
        pageSize: 20,
        pageList: [10,20,50,'All'],
        search: true,
        showRefresh: true,
        showToggle: true,
        showColumns: true,
        toolbar: '#toolbar'
    }).on('click','.del-btn',function(event){
        var target = $(this).attr('name');
        var text = $(this).attr('alias');
        layer.confirm('确定要删除评论吗?',{icon:3 ,title: '提示'}, function(index){
            var loadLayer = layer.load('1');
            $.ajax({
                url: location.pathname,
                type: 'delete',
                dataType: 'json',
                data: {
                    target: target
                },
                success: function(data){
                    location.reload();
                },
                error: function(xml ,err, exc){
                    try{
                        layer.msg(JSON.parse(xml.responseText).msg);
                    }
                    catch(e){
                        layer.msg('未知错误');
                    }
                },
                complete: function(){layer.close(loadLayer)}
            });
        });
    });

});
});
</script>
{% endblock %}