{% extends 'original/base.html' %}
{% load static %}

{% block title %}
    人体生物节律查询
{% endblock %}

{% block style %}
    <link href="{% static 'comp/select2/css/select2.min.css' %}" rel="stylesheet" />
    <style>
    .main-panel{
        padding: 20px;
    }
    #graph{
        width: 100%;
        height: 350px;
        margin-bottom: 20px;
    }
    </style>
{% endblock %}

{% block toolsbar %}{% endblock %}
{% block left_page_content %}{% endblock %}
{% block main_ground %}
<div class="main-panel">
    <div class="row">
        <div class="col-lg-1 col-md-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
            <div id="graph"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-2"></div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <form class="form-inline">
                <div class="form-group">
                    <label class="control-label" for="startYear">出生日期&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年</label>
                    <select class="form-control" id="startYear">
                        {% for year in year_opt %}
                        <option value="{{ year }}">{{ year }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="startMonth">月</label>
                    <select class="form-control" id="startMonth">
                        {% for month in month_opt %}
                        <option value="{{ month }}">{{ month }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="startDay">日</label>
                    <select id="startDay" class="form-control">
                        {% for day in day_opt %}
                        <option value="{{ day }}">{{ day }}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <form class="form-inline">
                <div class="form-group">
                    <label class="control-label" for="endYear">测试日期&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年</label>
                    <select class="form-control" id="endYear">
                        {% for year in year_opt %}
                        <option value="{{ year }}" {% if year == today.year %}selected{% endif %}>{{ year }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="endMonth">月</label>
                    <select class="form-control" id="endMonth">
                        {% for month in month_opt %}
                        <option value="{{ month }}" {% if month == today.month %}selected{% endif %}>{{ month }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="endDay">日</label>
                    <select id="endDay" class="form-control">
                        {% for day in day_opt %}
                        <option value="{{ day }}" {% if day == today.day %}selected{% endif %}>{{ day }}</option>
                        {% endfor %}
                    </select>
                </div>
{#                <input type="hidden" value="{{ today.year }}-{{ today.month }}-{{ today.day }}" id="todayInput" />#}
{#                <button type="button" class="btn btn-sm btn-default" id="setToday"><i class="fa fa-calendar"></i>今天</button>#}
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-2 col-md-2"></div>
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
            <button type="button" class="btn btn-success" id="submit">
                <i class="fa fa-search"></i>查询
            </button>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'comp/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'comp/select2/js/i18n/zh-CN.js' %}"></script>
    <script src="{% static 'comp/moment.js' %}"></script>
    <script src="{% static 'comp/echarts/echarts-all.js' %}"></script>
    <script>
    $(document).ready(function(){
        // 构造选择框
        $('select').select2({
            language: 'zh-CN'
        });

{#        // 重置到今天#}
{#        $('#setToday').click(function(event){#}
{#            var today = $('#todayInput').val();#}
{#            var info = today.split('-');#}
{#            var year = parseInt(info[0]);#}
{#            var month = parseInt(info[1]);#}
{#            var day = parseInt(info[2]);#}
{#            $('#endYear').find('option').each(function(ele,i){#}
{#                if($(ele).attr('value') === year.toString()){#}
{#                    $(ele).prop('selected',true);#}
{#                }#}
{#                else{#}
{#                    $(ele.prop('selected'), false);#}
{#                }#}
{#            });#}
{#        });#}

        // 初始化图表
        var chart = echarts.init($('#graph')[0]);
        function getDefaultOption(){
            var option = {
                backgroundColor: '#f4f4f4',
                title : {
                    text: '人体生物节律',
                    subtext: '认真你就输了',
                    zlevel: -1,
                    textStyle: {fontSize: 30},
                    x: 'center'
                },
                tooltip : {
                    trigger: 'axis'
                },
                legend: {
                    data:[{
                        name: '体力指数',
                        textStyle: {color: '#963634'}
                    },{
                        name: '情绪指数',
                        textStyle: {color: '#76933c'}
                    },{
                        name: '智力指数',
                        textStyle: {color: '#366092'}
                    }],
                    itemGap: 20,
                    textStyle: {fontSize: 18},
                    y: 'bottom'
                },
                toolbox: {
                    show : true,
                    feature : {
                        saveAsImage : {show: true}
                    }
                },
                calculable : true,
                dataZoom: {
                    show: true,
                    zlevel: -1
                },
                xAxis : [
                    {
                        type : 'category',
                        boundaryGap : false,
                        data : [],
                        axisLine: {
                            lineStyle: {color: 'darkgray'}
                        }
                    }
                ],
                yAxis : [
                    {
                        type : 'value',
                        axisLine: {
                            lineStyle: {color: 'darkgray'}
                        }
                    }
                ],
                series : [
                    {
                        name:'体力指数',
                        type:'line',
                        itemStyle: {
                            normal: {color: '#963634'}
                        },
                        data:[],
                        markPoint: {
                            symbolSize: 15,
                            data: []
                        }
                    },
                    {
                        name:'情绪指数',
                        type:'line',
                        itemStyle: {
                            normal: {color: '#76933c'}
                        },
                        data:[],
                        markPoint: {
                            symbolSize: 15,
                            data: []
                        }
                    },
                    {
                        name: '智力指数',
                        type: 'line',
                        itemStyle: {
                            normal: {color: '#366092'}
                        },
                        data: [],
                        markPoint: {
                            symbolSize: 15,
                            data: []
                        }
                    }
                ]
            };
            return option;
        }

        // 生物钟计算函数
        function biologyRhythm(startDate, endDate){
            var period = endDate.diff(startDate, 'days');
            var xStart = period - 15;
            var xEnd = period + 15;
            var t = [], q = [], z = [];
            var _t, _q, _z;
            var et, eq, ez;
            for (var d=xStart;d<=xEnd;d++){
                _t = 10 * Math.sin(Math.PI / 11.5 * d).toFixed(2);
                _q = 10 * Math.sin(Math.PI / 14 * d).toFixed(2);
                _z = 10 * Math.sin(Math.PI / 16.5 * d).toFixed(2);
                t.push(_t);    // 体力
                q.push(_q);      // 情绪
                z.push(_z);    // 智力
                if (d == period){
                    et = _t;
                    eq = _q;
                    ez = _z;
                }
            }

            var xStr = [];
            var dStr = endDate.format('YYYY-MM-DD');
            for (var i=-15;i<=15;i++){
                xStr.push(moment(dStr).add(i,'days').format('YYYY-MM-DD'));
            }
            option = getDefaultOption();
            option.xAxis[0].data = xStr;
            option.series[0].data = t;
            option.series[0].markPoint.data = [{name: dStr, value: et, xAxis: dStr, yAxis: et}];
            option.series[1].data = q;
            option.series[1].markPoint.data = [{name: dStr, value: eq, xAxis: dStr, yAxis: eq}];
            option.series[2].data = z;
            option.series[2].markPoint.data = [{name: dStr, value: ez, xAxis: dStr, yAxis: ez}];
            chart.setOption(option);
        }

        $('#submit').click(function(event){
            var startDate = new Date($('#startYear').val(), parseInt($('#startMonth').val())-1, $('#startDay').val());
            console.log(startDate);

            var endDate = new Date($('#endYear').val(), parseInt($('#endMonth').val() - 1), $('#endDay').val());
            console.log(endDate);

            if (!startDate || !endDate){
                layer.msg('请选择出生日期和测试日期');
                return;
            }
            startDate = moment(startDate);
            endDate = moment(endDate);
            if (startDate >= endDate){
                layer.msg('请输入合法的日期');
                return;
            }
            biologyRhythm(startDate, endDate);
        });
    });
    </script>
{% endblock %}

{% block footer %}{% endblock %}