{% extends 'original/base.html' %}

{% load static %}

{% block title %}小飞机配置{% endblock %}

{% block style %}
    <link href="{% static 'comp/bootstrap-switch/css/bootstrap-switch.min.css' %}" rel="stylesheet" />
    <style>
    .main-panel{
        padding: 20px;
    }
    </style>
{% endblock %}

{% block toolsbar %}{% endblock %}
{% block left_page_content %}{% endblock %}
{% block main_ground %}
<div class="main-panel">
    <div class="row">
        <div class="col-lg-12">
            <div style="text-align:center;">
                <span style="color: gray;">当前端口</span>
                {% for port in ssr_ports %}
                <span style="border: 1px solid lightgray;font-size: 32px;padding: 10px;color: #963634;">{{ port }}</span>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if request.user.is_active %}
    <hr>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-2 col-xs-2"></div>
        <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8">
{#            <div style="text-align:center;">#}
{#                <div class="form-group">#}
{#                    <label class="control-label" for="portInput">新端口</label>#}
{#                    <input class="form-control" id="portInput" placeholder="输入新端口..." />#}
{#                </div>#}
{#                <div class="form-group">#}
{#                    <label class="control-label" for="blacklistCheck">今后弃用{{ ssr_port }}端口</label>#}
{#                    <input class="form-control" id="blacklistCheck" type="checkbox" />#}
{#                </div>#}
{#                <button class="btn btn-success" id="submit">#}
{#                    <i class="fa fa-upload"></i>起飞！#}
{#                </button>#}
{#            </div>#}
            {% for port in ssr_ports %}
            <div class="row">
                <form class="form-inline" name="{{ forloop.counter0 }}">
                    <div class="form-group">
                        <label class="control-label">端口</label>
                        <input class="form-control port-input" value="{{ port }}" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">是否弃用{{ port }}</label>
                        <input type="checkbox" class="form-control blacklist-input" checked />
                    </div>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block footer %}{% endblock %}

{% block script %}
    <script src="{% static 'comp/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>
<script>
$(document).ready(function(){

    $('input[type=checkbox]').bootstrapSwitch({
        size: 'small',
        onText: '是',
        offText: '否'
    });

    $('#submit').click(function(event){

        var load = layer.load(1, {shade: 0.5});
        var upload = [];
        $('form.form-inline').each(function(ele,i){
            var port = $(ele).find('.port-input').val();
            var blacklist = $(ele).find('.blacklist-input').prop('checked');
            upload.push(port + ':' + blacklist? '1':'0');
        });
        var uploadStr = upload.join(',');

        $.ajax({
            url: location.pathname,
            type: 'post',
            dataType: 'json',
            data: {
                info: uploadStr
            },
            success: function(data){
                layer.alert(data.msg);
            },
            error: function(xml, err, exc){
                var msg;
                try{
                    msg = JSON.parse(xml.responseText).msg;
                }
                catch(e){
                    msg = '未知错误';
                }
                layer.msg(msg);
            },
            complete: function(){layer.close(load);}
        })
    });
});
</script>
{% endblock %}