{% extends 'original/base.html' %}

{% load static %}

{% block style %}
    <link href="{% static 'comp/editormd/css/editormd.min.css' %}" rel="stylesheet" />
    <link href="{% static 'comp/select2/css/select2.min.css' %}" rel="stylesheet" />
    <link href="{% static 'comp/bootstrap-switch/css/bootstrap-switch.min.css' %}" rel="stylesheet" />
    <link href="{% static 'ftk/blog/new.css' %}" rel="stylesheet"/>
{% endblock %}

{% block extra_nav_left %}
    <li class="dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
            <i class="fa fa-link"></i>
            常用站点
        </a>
        <ul class="dropdown-menu">
            {% for link in quickLinks %}
                <li><a target="_blank" href="{{ link.value }}">{{ link.key }}</a></li>
            {% endfor %}
        </ul>
    </li>
{% endblock %}

{% block toolsbar %}{% endblock %}
{% block left_page_content %}{% endblock %}

{% block main_ground %}
    <div class="main-ground">
        <div class="form-group">
            <label class="control-label" for="titleInput">标题</label>
            <input class="form-control" id="titleInput" placeholder="请输入文章标题..." />
        </div>
        <div class="form-group">
            <label class="control-label" for="uuidInput">UUID</label>
            <input class="form-control" id="uuidInput" disabled />
        </div>
        <div class="form-group">
            <label class="control-label">正文</label>
            <a id="restoreContent" href="javascript:void(0);" title="恢复自动保存内容"><i class="fa fa-refresh"></i></a>
            <button class="btn btn-xs btn-success" id="autoSaveToggle">自动保存 | 开启</button>
            <div id="post-content-editor">
                <textarea id="post-content-editor-markdown-doc" name="post-content-editor-markdown-doc" style="display:none;">{% if type == 'edit' %}{{ post.content }}{% endif %}</textarea>
                <textarea id="post-content-editor-html-code" name="post-content-editor-html-code" style="display: none;"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="categorySelect">分类</label>
            <select class="form-control" id="categorySelect">
                <option value="">--请选择--</option>
                {% for category in categoryList %}
                <option value="{{ category.cate_id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="isTopCheck">
                是否置顶
                <input type="checkbox" id="isTopCheck" />
            </label>
        </div>
        <div class="form-group">
            <label class="control-label" for="isReprintCheck">
                是否转载
                <input type="checkbox" id="isReprintCheck" />
            </label>
        </div>
        <div class="form-group" style="display:none;">
            <label class="control-label" for="reprintSrcInput">转载源</label>
            <input class="form-control" id="reprintSrcInput" />
        </div>
        <div class="tag-group form-group">
            <label class="control-label">选择标签</label>
            {% for tag in tagList %}
                <span class="tag-check" id="tag_{{ tag.tag_id }}">{{ tag.name }}
                <span class="tag-check-sign">
                    <i class="fa fa-check-square"></i>
                </span>
                </span>
            {% endfor %}
        </div>
        <div class="form-group">
            <label class="control-label" for="publish">
                <input type="checkbox" class="form-group" id="publish" />是否发布
            </label>
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-default btn-primary" id="submit"><i class="fa fa-upload"></i>提交发布</button>
            <button type="button" class="btn btn-default" id="save"><i class="fa fa-save"></i>保存草稿</button>
            <button type="button" class="btn btn-default" id="reset"><i class="fa fa-reset"></i>重置</button>
        </div>
    </div>
{% endblock %}

{% block hidden_inputs %}
    {{ super.block }}
    <input type="hidden" value="{% static 'comp/editormd' %}" id="editor-md-root" />
    <input type="hidden" value="{% if site_switch__showAutosaveMsg %}True{% else %}False{% endif %}" id="showAutosaveMsg" />
    <input type="hidden" value="{{ autosave_interval | default:"5" }}" id="autosaveIntervalNum" />
    {% if type == 'edit' %}
    <input type="hidden" value="{% url 'editormd-upload' %}" id="upload-url" />
    {% endif %}
    <input type="hidden" value="{% if type == 'edit' %}true{% else %}false{% endif %}" id="is-edited" />
{% endblock %}

{% block script %}
    <script src="{% static 'comp/editormd/editormd.min.js' %}"></script>
    <script src="{% static 'comp/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'comp/select2/js/i18n/zh-CN.js' %}"></script>
    <script src="{% static 'comp/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>
    <script src="{% static 'comp/moment.js' %}"></script>
    <script>
    var emojiPluginPath = '{% static 'comp/editormd/plugins/emoji-dialog/emoji' %}';
    </script>
    {% if type != 'edit' %}
    <script src="{% static 'ftk/blog/new.js' %}"></script>
    {% else %}
    <script src="{% static 'ftk/admin/editpost.js' %}"></script>
    <script>
    $(function(){
        $(document).ready(function(){
            $('#titleInput').val('{{ post.title }}');
            $('#uuidInput').val('{{ post.post_uuid }}');
            $('#categorySelect').val('{{ post.category.cate_id }}').trigger('change');
            $('#isTopCheck').bootstrapSwitch('state',{% if post.is_top %}true{% else %}false{% endif %});
            $('#isReprintCheck').bootstrapSwitch('state', {% if post.is_reprint %}true{% else %}false{% endif %});
            $('#reprintSrcInput').val('{{ post.reprint_src }}');
            var tags = '{{ post.tags }}'.split(' ');
            $('.tag-check').each(function(i, ele){
                var tag = $(ele).text().trim();
                if (tags.indexOf(tag) != -1){
                    $(ele).addClass('active');
                }
            });
            $('#publish').prop('checked',{% if post.status == '0' %}true{% else %}false{% endif %});
        });
    });
    </script>
    {% endif %}
{% endblock %}

{# markdown语法说明： https://www.jianshu.com/p/191d1e21f7ed #}
{# editormd使用说明： https://www.cnblogs.com/liujiaxian/p/6336841.html #}