{% extends 'original/base.html' %}
{% load static %}

{% block style %}
    <link href="{% static 'comp/layer/css/layui.css' %}" rel="stylesheet" />
    <link href="{% static 'comp/editormd/css/editormd.min.css' %}" rel="stylesheet" />
    <link href="{% static 'ftk/blog/post.css' %}" rel="stylesheet" />
{% endblock %}

{% block left_ground_display %}none{% endblock %}

{% block toolbar-items %}
    <div class="intern-search">
        <input id="intern-search-input" placeholder="请输入关键词搜索页面..." />
    </div>
{% endblock %}

{% block main_ground %}
    <div class="main-ground">
        <div class="post">
            <div class="post-header">
                <h2>{{ post.title }}</h2>
                <div class="post-info-wrap">
                    <span class="post-info"><span class="glyphicon glyphicon-calendar"></span>创建时间 {{ post.create_time }}</span>
                    <span class="post-info"><span class="glyphicon glyphicon-calendar"></span>更新时间 {{ post.update_time }}</span>
                </div>
                <div class="post-info-wrap">
                    <span class="post-info"><i class="fa fa-bookmark"></i>阅读量 ({{ read_count }})</span>
                </div>
                <div class="post-info-wrap">
                    <span class="post-info"><i class="fa fa-tags"></i>分类 {{ post.category.name }}</span>
                </div>
            </div>
            <div id="postContent" class="post-body">
                <textarea style="display: none;">{{ post.content }}</textarea>
            </div>
            <div class="post-footer">
                <div class="post-footer-toolbar">
                    {% if request.user.is_superuser %}
                    <a href="javascript:void(0);" id="edit-post" class="post-footer-btn pull-left">[编辑]</a>
                    <a href="javascript:void(0);" id="delete-post" class="post-footer-btn pull-left">[删除]</a>
                    {% endif %}
                    <span class="pull-right post-footer-btn">
                        <a href="javascript:void(0);" id="great-up"><i class="fa fa-thumbs-o-up"></i></a>(<span id="great-count">{{ post.greats }}</span>)</span>
                </div>
            </div>
        </div>
    </div>
    {% if post.comments.count > 0 %}
    <div class="comment">
        <div class="comment-title-wrap">
            <h4>评论留言({{ post.comments.count }}条) &nbsp;<a class="collapse-comment" href="javascript:void(0);">(全部折叠)</a></h4>
            <hr>
        </div>
        <div class="display-comment">
            <div class="layui-collapse">
            {% for comment in post.comments.all %}
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">
                        <b>#<span class="comment-floor">{{ forloop.counter }}</span>&nbsp;
                            {% if comment.author == '博主' %}<span class="comment-author-name" style="background: black; color: white; padding: 3px; border-radius: 3px;"><i class="fa fa-user"></i>{{ comment.author }}</span>
                            {% else %}<span class="comment-author-name">{{ comment.author }}</span>
                            {% endif %}
                        </b>&nbsp;&nbsp;{{ comment.create_time }}</h2>
                    <div class="layui-colla-content layui-show">
                        <div class="comment-header">
                            <span class="comment-title">
                            {% if comment.reply_to %}{{ comment.title }}<a href="javascript:void(0);" class="jump-to-comment" name="{{ comment.reply_to }}">[跳转]</a>{% endif %}
                            </span>
                        </div>
                        <div class="comment-body" id="comment_{{ comment.comment_uuid }}">
                            <textarea style="display:none;">{{ comment.content }}</textarea>
                        </div>
                        <div class="comment-footer">
                            <a class="reply" href="javascript:void(0);">回复</a>
                            {% if request.user.is_active %}
                            <a class="delete-comment" href="javascript:void(0);" name="{{ comment.comment_uuid }}">删除</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <div id="new-comment">

    </div>
    {% endif %}
{% endblock %}

{% block fixtool_btn %}
    <div class="fix-tool-btn" id="addComment" title="添加评论">
        <a href="javascript:void(0);"><i class="fa fa-edit"></i></a>
    </div>
{% endblock %}

{% block hidden_inputs %}
    {{ block.super }}
    <input type="hidden" value="{{ post.post_uuid }}" id="post-uuid" />
{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="{% static 'comp/editormd/lib/marked.min.js' %}"></script>
    <script src="{% static 'comp/editormd/lib/prettify.min.js' %}"></script>
    <script src="{% static 'comp/editormd/lib/raphael.min.js' %}"></script>
    <script src="{% static 'comp/editormd/lib/underscore.min.js' %}"></script>
    <script src="{% static 'comp/editormd/lib/sequence-diagram.min.js' %}"></script>
    <script src="{% static 'comp/editormd/lib/flowchart.min.js' %}"></script>
    <script src="{% static 'comp/editormd/lib/jquery.flowchart.min.js' %}"></script>
    <script src="{% static 'comp/editormd/editormd.min.js' %}"></script>
    <script src="{% static 'comp/layer/layer.js' %}"></script>
    <script src="{% static 'comp/layer/layui.js' %}"></script>
    <script src="{% static 'comp/textSearch.js' %}"></script>
    <script>
        $(function() {
            {% if request.user.is_superuser %}
            // 编辑。删除按钮
            $('#edit-post').click(function(event){
                window.open('{% url 'post.manage' %}?pk=' + $('#post-uuid').val() + '&type=edit');
            });
            $('#delete-post').click(function(event){
                window.open('{% url 'post.manage' %}?uuid=' + $('#post-uuid').val());
            });
            {% endif %}
            $('#addComment,.reply').click(function(event){
                var preContent;
                var replyFloor;
                if($(this).hasClass('reply')){
                    replyFloor = $(this).parents('.layui-colla-item').find('.comment-floor').text();
                    preContent = '回复 >#' + replyFloor + ' ' + $(this).parents('.layui-colla-item').find('.comment-author-name').text();
                }
                var url = '{% url 'comment' %}?post_uuid=' + encodeURIComponent($('#post-uuid').val());
                if (preContent){
                    url += '&pre=' + encodeURIComponent(preContent);
                    url += '&rf=' + replyFloor;
                }
                layer.open({
                    type: 2,
                    title: '添加评论',
                    area: ['70%','95%'],
                    content: url
                });
            });

            function markdown2Html(domId){
                editormd.markdownToHTML(domId,{
                    htmlDecode: 'style,script,iframe',
                    emoji: true,
                    taskList: true,
                    tex: true,
                    flowChart: true,
                    sequenceDiagram: true,
                    codeFold: true
                });
            }
            markdown2Html('postContent');
            $('.comment-body').each(function(ele,i){
                markdown2Html($(this).attr('id'));
            });

        });
    </script>
    <script src="{% static 'ftk/blog/post.js' %}"></script>

{% endblock %}