{% extends 'original/base.html' %}
{% load static %}

{% block style %}
    <link href="{% static 'ftk/blog/post.css' %}" rel="stylesheet" />
    <link href="{% static 'comp/editormd/css/editormd.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block left_ground_display %}none{% endblock %}

{% block toolbar-items %}
    <div class="intern-search">
        <input id="intern-search-input" placeholder="请输入关键词搜索页面..." />
    </div>
{% endblock %}

{% block main_ground %}
    <div class="main-ground">
        <div class="post">
            <div class="post-header">
                <h2>{{ post.title }}</h2>
                <div class="post-info-wrap">
                    <span class="post-info"><span class="glyphicon glyphicon-calendar"></span>创建时间 {{ post.create_time }}</span>
                    <span class="post-info"><span class="glyphicon glyphicon-calendar"></span>更新时间 {{ post.update_time }}</span>
                </div>
                <div class="post-info-wrap">
                    <span class="post-info"><i class="fa fa-bookmark"></i>阅读量 (-1)</span>
                </div>
                <div class="post-info-wrap">
                    <span class="post-info"><i class="fa fa-tags"></i>分类 {{ post.category.name }}</span>
                </div>
            </div>
            <div id="postContent" class="post-body">
                <textarea style="display: none;">{{ post.content }}</textarea>
            </div>
            <div class="post-footer">
                <!-- 一些文章相关的信息，还有微信QQ分享之类的东西放这里 -->
            </div>
        </div>
    </div>
    <div class="comment">
        <!-- 评论系统 -->
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="{% static 'comp/editormd/lib/marked.min.js' %}"></script>
    <script src="{% static 'comp/editormd/lib/prettify.min.js' %}"></script>
    <script src="{% static 'comp/editormd/lib/raphael.min.js' %}"></script>
    <script src="{% static 'comp/editormd/lib/underscore.min.js' %}"></script>
    <script src="{% static 'comp/editormd/lib/sequence-diagram.min.js' %}"></script>
    <script src="{% static 'comp/editormd/lib/flowchart.min.js' %}"></script>
    <script src="{% static 'comp/editormd/lib/jquery.flowchart.min.js' %}"></script>
    <script src="{% static 'comp/editormd/editormd.min.js' %}"></script>
    <script src="{% static 'comp/layer/layer.js' %}"></script>
    <script src="{% static 'comp/textSearch.js' %}"></script>
    <script src="{% static 'ftk/blog/post.js' %}"></script>
    <script>
        $(function() {
            var testEditor = editormd.markdownToHTML('postContent',{
                htmlDecode: 'style,script,iframe',
                emoji: true,
                taskList: true,
                tex: true,
                flowChart: true,
                sequenceDiagram: true,
                codeFold: true
            });
        });
    </script>

{% endblock %}