{% load static %}
{% load ftkblog_tags %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{#    <meta name="viewport" #}
{#          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">#}
{#    <meta http-equiv="X-UA-Compatible" content="ie=edge">#}
    <title>
        {% block title %}
        {% if site_switch__showAlias %}
            F.Takanashi BLOG
        {% else %}
            WYZYPA BLOG
        {% endif %}
        {% endblock %}
    </title>

    <!-- 下面的keywords和description主要用于给搜索引擎搜索 -->
    <meta name="keywords" content={% block keywords %}{% endblock %}>
    <meta name="description" content={% block description %}{% endblock %}>
    <link href="{% static 'image/icon/t_icon.png' %}" rel="SHORTCUT ICON" />

    <script src="{% static 'comp/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'comp/jquery/jquery.cookie.js' %}"></script>
    <link href="{% static 'comp/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
    <script src="{% static 'comp/bootstrap/js/bootstrap.min.js' %}"></script>
    <link href="{% static 'comp/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'comp/ios-clock/clock.css' %}" rel="stylesheet" />
    <link href="{% static 'comp/ios-clock/shake.min.css' %}" rel="stylesheet" />
    <link href="{% static 'comp/ios-clock/shake-clock.css' %}" rel="stylesheet" />
    <script src="{% static 'comp/layer/layer.js' %}"></script>
    <script src="{% static 'ftk/base/main.js' %}"></script>
    <link href="{% static 'ftk/base/main.css' %}" rel="stylesheet" />
    {% block style %}
    {% endblock %}
</head>
{% block body %}
<body {% block body_attribute %}style="
font-size: 15px;background: #f4f4f4;
background-image: url({% static 'image/bg/main/0.jpg' %});
background-size: cover;
background-attachment: fixed;
" {% endblock %}>

    <!-- header -->
    {% block page_header %}
    {% block carousel %}{% endblock %}
    <div class="navbar navbar-inverse" role="navigation" style="border-radius:0;z-index: 999;">
        <div class="navbar-brand-img">
            {% if site_switch__showAlias %}
            <img src="{% static 'image/site_logo.png' %}" class="navbar-brand" />
            {% else %}
            <img src="{% static 'image/site_logo_omote.png' %}" class="navbar-brand" />
            {% endif %}
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-toggle-menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-toggle-menu">
            <ul class="nav navbar-nav">
                <li><a class="{% ifequal request.path '/blog/' %}active{% endifequal %}" href="{% url 'index' %}">首页</a></li>
                <li><a class="{% ifequal request.path '/about/' %}active{% endifequal %}" href="{% url 'about' %}">关于</a></li>
                <li><a class="{% ifequal request.path '/blog/message/' %}active{% endifequal %}" href="{% url 'message' %}">留言板</a></li>
                <li><a href="{% url 'errortest' %}">小飞机</a></li>
                {% if request.user.is_active %}
                <li><a href="{% url 'new_post' %}">新文章</a></li>
                <li><a href="javascript:void(0);" id="openSiteMemo">站点备忘录</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_active %}
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            <i class="fa fa-user-circle"></i>
                        </a>
                        <ul class="dropdown-menu">
                            {% if request.user.is_superuser %}
                            <li><a href="{% url 'my_admin_index' %}">我的后台</a></li>
                            {% endif %}
                            <li><a href="javascript:void(0);">个人资料</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-off"></span>注销{{ request.user.get_username }}</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            <i class="fa fa-user-circle"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'login' %}?next=" id="login"><i class="fa fa-send"></i>登录</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% endblock %}

    <!-- toolsbar -->
    {% block toolsbar %}
    <div class="toolbar">
        {% block left_ground_toggle %}
        <span class="left-ground-toggle" id="left-ground-toggle">
            <a href="javascript:void(0);" title="开关左边栏"><i class="fa fa-bars"></i></a>
        </span>
        <span class="left-ground-toggle" id="fold-code-all">
            <a href="javascript:void(0);" title="折叠所有代码"><i class="fa fa-level-up"></i></a>
        </span>
        <span class="left-ground-toggle" id="light-toggle">
            <a href="javascript:void(0);" title="豆绿开关"><i class="fa fa-lightbulb-o"></i></a>
        </span>
        {% endblock %}
        {% block toolbar-items %}

        {% endblock %}
    </div>
    {% endblock %}

    <!-- content -->
    {% block content %}
    <div class="ground-row">
        <!-- main -->
        {% block main_ground %}
            <div class="main-ground">
                {% block main_ground_main_frame %}
                <div class="main">
                    {% block main_ground_content %}
                    <div class="content">
                    </div>
                    {% endblock %}
                </div>
                {% endblock %}
                {% block main_ground_aside %}
                <div class="aside">
                </div>
                {% endblock %}
            </div>
        {% endblock %}

        <!-- left -->
        {% block left_page_content %}
        <div class="left-ground" style="
                display: {% block left_ground_display %}block{% endblock %};
                ">
            <div class="clock-wrap widget">
                <div class="my-clock">
                    <div class="icon-large icon-clock">
                        <div class="clock">
                            <div id="div-hour" class="hour" style=""></div>
                            <div id="div-minute" class="minute" style=""></div>
                            <div id="div-second" class="second" style=""></div>
                        </div>
                    </div>
                </div>
                <div class="shake-clock-wrap">
                    <div class="shake-clock">
                        <div class="h shake shake-slow"></div>
                        <span style="font-size:30px">:</span>
                        <div class="m shake shake-slow"></div>
                        <span style="font-size:30px">:</span>
                        <div class="s shake shake-slow"></div>
                    </div>
                </div>
            </div>

            <div class="widget">
                <iframe name="weather_inc" src="http://i.tianqi.com/index.php?c=code&id=4" width="160" height="200" frameborder="0" marginwidth="0" marginheight="0" scrolling="yes" ></iframe>
            </div>

            <div class="widget">
                <a href="https://info.flagcounter.com/kWXe"><img src="https://s11.flagcounter.com/mini/kWXe/bg_FFFFFF/txt_000000/border_CCCCCC/flags_0/" alt="Flag Counter" border="0"></a>
            </div>

        </div>
        {% endblock %}

        <!-- right -->
        {% block right_page_content %}
        <div class="right-ground">
        </div>
        {% endblock %}
    </div>
    {% endblock %}

    <!-- fix tools -->
    {% block fixtool %}
    <div class="fix-tool">
        <div class="fix-tool-wrap">
            {% block fixtool_btn %}{% endblock %}
            {% if site_switch__themeChange %}
            <div class="fix-tool-btn" id="refreshTheme" title="刷新主题">
                <a href="javascript:void(0);"><i class="fa fa-refresh"></i></a>
            </div>
            {% endif %}
            <div class="fix-tool-btn" id="sendMail" title="发送邮件给我">
                <a href="javascript:void(0);"><i class="fa fa-envelope"></i></a>
            </div>
            <div class="fix-tool-btn" id="goSearch" title="站内搜索">
                <a href="{% url 'search_index' %}" target="_blank"><i class="fa fa-search"></i></a>
            </div>
            <div class="fix-tool-btn" id="goTop" title="回到顶部">
                <a href="javascript:void(0);"><i class="fa fa-arrow-up"></i></a>
            </div>
        </div>
    </div>
    {% endblock %}

    <!-- footer -->
    {% block footer %}
    <div class="footer">
        <div class="row page-footer">
            <div class="col-lg-4 col-sm-12 col-xs-12">
                {% if site_switch__bgmSwitch %}
                <h5 class="footer-title">BGM</h5>
{#                <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=110 src="//music.163.com/outchain/player?type=0&id=2389989722&auto=0&height=90"></iframe>#}
                    {{ site_globalv__bgm_plugin|safe }}
                {% endif %}
            </div>
            <div class="col-lg-4 col-sm-12 col-xs-12">
                <img class="img-circle" src="{% static 'image/profile/profile.jpg' %}" alt="这是谁的照片？" style="width: 150px; height: 150px;" />
            </div>
            <div class="col-lg-4 col-sm-12 col-xs-12">
                <h5 class="footer-title">友情链接</h5>
                <div class="out-links">
                    <span><a target="_blank" href="https://www.google.com/">
                        <img src="{% static 'image/icon/google_logo.png' %}"/>
                    </a></span>
                    <span><a target="_blank" href="https://www.baidu.com/">
                        <img src="{% static 'image/icon/baidu_logo.png' %}" />
                    </a></span>
                    <span><a target="_blank" href="https://www.github.com">
                        <img src="{% static 'image/icon/github_logo.png' %}" />
                    </a></span>
                    <span><a target="_blank" href="https://gmail.com">
                        <img src="{% static 'image/icon/gmail_logo.png' %}" />
                    </a></span>
                </div>
            </div>
        </div>
        <div class="row footer-copyright">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <b>Copyright</b> @ 2016-2018 F.Takanashi 版权所有
            </div>
        </div>
    </div>
    {% endblock %}

    <!-- hidden inputs config -->
    <div class="hidden-inputs-area">
    {% block hidden_inputs %}
        <input type="hidden" value="{{ site_globalv__mail_addr|default:'wyzypa@gmail.com' }}" id="MailAddr" />
    {% endblock %}
    </div>

    <script src="{% static 'comp/ios-clock/clock.js' %}"></script>
    <script src="{% static 'comp/ios-clock/shake.js' %}"></script>
    <script>
        var loginBtn = $('#login');
        $(loginBtn).attr('href',$(loginBtn).attr('href') + location.pathname);
        $.ajaxSetup({
            headers: {'X-CSRFTOKEN': $.cookie('csrftoken')},
            data: {'csrfmiddlewaretoken': '{{ csrf_token }}'}
        });
        $('#openSiteMemo').click(function(event){
            var memoPos = $.cookie('memo-pos');
            var top, left, width, height;
            if (memoPos){
                var _pos = JSON.parse(memoPos);
                top = _pos[0] + 'px'; left = _pos[1] + 'px';
                width = _pos[2] + 'px'; height = _pos[3] + 'px';
            }
            else{
                top = '65px'; left = '5%';
                width = '90%'; height = '50%';
            }
            var n = $('.navbar-inverse');
            var themeBkgColor = $(n).css('background-color');
            layer.open({
                title: ['', 'background-color: '+themeBkgColor+';font-size: 20px;text-align: center;'],
                type: 2,
                content: '{% url 'site-memo' %}',
                maxmin: true,
                shade: false,
                area: [width, height],
                offset: [top, left],
                resize: true,
                anim: 1,
                cancel: function(idx, dom){
                    var c = $(dom).find('iframe').contents().find('#memoContentInput');
                    if (c.length == 0){return true;}
                    c = c.val();
                    if (c != ''){
                        $(dom).find('iframe')[0].contentWindow.layer.msg('输入框还有内容');
                        return false;
                    }

                    var _width = parseInt($(dom).width());
                    var _height = parseInt($(dom).height());
                    var _top = parseInt($(dom).position().top);
                    var _left = parseInt($(dom).position().left);

                    $.cookie('memo-pos', JSON.stringify([_top, _left, _width, _height]), {path: '/'});
                }
            });
        });
    </script>
    {% block script %}
    {% endblock %}
</body>
{% endblock %}
</html>