.left-ground{
    top: 65px;
}
.toolbar{
    display: none;
}
span.post-info{
    display: inline;
    color: darkgray;
    margin-right: 10px;
}
.post-info a{
    text-decoration: none;
    color: #256a88;
}
.post-info a:hover{
    padding: 3px;
    border-radius: 3px;
    background-color: #256a88;
    margin-left: 2px;
    color: white;
}
.post-wrap-title{
    transition: margin-left .5s;
    text-decoration: none;
}
.post-wrap-title:hover{
    margin-left: 3%;
    text-decoration: none;
    color: white;
}
h4 > .post-wrap-title:hover{
    background-color: #256abc;
    padding: 3px;
    border-radius: 5%;
}
.post-wrap-body,.post-wrap-footer{
    margin-top: 10px;
}
.post-wrap-footer a{
    text-decoration: none;
    color: #256abc;
}
.post-wrap-footer a:hover{
    background-color: #256abc;
    color: white;
    padding: 5px;
    border-radius: 5%;
}
.post-wrap{
    opacity: 0.7;
    transition: opacity .5s;
}
.post-wrap:hover{
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
    opacity: 1;
}
.post-wrap,.aside-frame > div{
    padding: 5px 20px 20px 20px;
    background: white;
    margin-bottom: 20px;
    border: 1px solid #eeeeee;
    border-radius: 1%;
}
.aside-frame > div:hover{
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
}
.auto-me{
    padding: 0;
    text-align: center;
}
.me-avatar{
    padding-top: 27%;
}
.me-avatar > img{
    border: 5px solid white;
    border-radius: 50%;
    max-width: 100%;
}
.me-icon a{
    font-size: 20px;
    color: #c2c2c2;
    margin: 0 10px;
    text-decoration: none;
    line-height: 70px;
}
.me-icon a:hover{
    color: #5a5a5a;
}
.category-list-wrap h3{
    font-size: 20px;
    margin-bottom: 25px;
    text-align:center;
}
.category-list{
    margin: 0 30px;
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 5px;
    font-size: 14px;
}
.category-list > li{
    margin-top: 10px;
}
.category-list>li a{
    text-decoration: none;
    color: #256a88;
}
.category-list>li a:hover{
    padding: 3px;
    background: #256a88;
    border-radius: 3px;
    color: white;
    margin-left: 5px;
}
.category-count{
    float: right;
}