{% extends 'original/base.html' %}
{% load static %}
{% load ftkblog_tags %}

{% block left_ground_display %}none{% endblock %}

{% block left_ground_toggle %}{% endblock %}

{% block main_ground %}
{% endblock %}

{% block style %}
    <link href="{% static 'comp/jquery/jquery.slideunlock.css' %}" rel="stylesheet" />
    <style>
    .welcome-title{
        width: 100%;
        text-align:center;
        color: white;
        position: absolute;
        top: 80%;
        background: rgba(0,0,0,0.5);
        padding: 15px;
        font-size: 35px;
    }
    .slideunclock-wrapper{
        position: absolute;
        top: 40%;
        width: 30%;
        left: 35%;
    }
    </style>
{% endblock %}

{% block carousel %}
    <div class="my-carousel" style="position:fixed;top:0;left:0;height:100%;width:100%;z-index:1001;
            background-image:url({% static 'image/bg/carousel.jpg' %});background-size: cover;">
        <div class="slideunclock-wrapper">
            <input type="hidden" value="" class="slideunlock-lockable" />
            <div class="slideunlock-slider">
                <span class="slideunlock-label"></span>
                <span class="slideunlock-label-tip"></span>
            </div>
        </div>
        <div class="welcome-title">
            <p>{% dictitem 'welcomeTitle' %}</p>
            <p>{% dictitem 'welcomeText' %}</p>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block script %}
    <script src="{% static 'comp/jquery/jquery.slideunlock.min.js' %}"></script>
    <script>
    var slider = new SliderUnlock('.slideunlock-slider',{
        labelTip: '>>>>>推动历史行程>>>>>',
        successLabelTip: '还是要看个人的奋斗'
    }, function(){location.href = '/';},function(){});
    slider.init();
    </script>
{% endblock %}