{% extends 'original/base.html' %}
{% load static %}

{% block style %}
    {{ super }}
    <link href="{% static 'ftk/index.css' %}" rel="stylesheet" />
{#    <link href="{% static 'comp/layer/css/layui.css' %}" rel="stylesheet" />#}
{% endblock %}

{% block carousel %}
    <div class="my-carousel" style="position:fixed;top:0;left:0;height:100%;width:100%;z-index:1001;
            background-image:url({% static 'image/bg/carousel.jpg' %});background-size: cover;">
        <div class="welcome-title">
            <p>Welcome!</p>
            <p>一个半路出家素人的自言自语</p>
        </div>
    </div>
{% endblock %}

{% block left_ground_toggle %}{% endblock %}

{% block main_ground_aside %}
    <div class="aside">
        <div class="aside-frame">
            <div class="welcome-info">
                <h3>{{ pageDictInfo.welcomeTitle | default:"欢迎！" }}</h3>
                <hr>
                <p>{{ pageDictInfo.welcomeText | default:"一个半路出家素人的自言自语" }}</p>
            </div>
            <div class="auto-me">
                <div class="me-avatar"><img src="{% static 'image/profile.jpg' %}"></div>
                <div class="me-name"><h4>F. Takanashi</h4></div>
                <div class="me-declaration">{{ pageDictInfo.profileDescription|default:"竜神の剣を喰らえ!" }}</div>
                <div class="me-icon">
                    <a href="https://github.com/"><i class="fa fa-github"></i></a>
                    <a href="mailto:{{ mail_addr | default:"wyzypa@gmail.com" }}?subject=来自博客的邮件&subject=来自博客的邮件"><i class="fa fa-envelope"></i></a>
                    <a href="#"><i class="fa fa-rss-square"></i></a>
                </div>
            </div>
            <div class="category-list-wrap">
                <h3>分类列表</h3>
                <ul class="category-list">
                {% for category in categoryList %}
                    <li class="category-name">
                        <a href="{% url 'index' %}?category={{ category.cate_id }}">{{ category.name }}</a>
                        <span class="category-count">{{ category.count }}</span>
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div class="category-list-wrap">
                <h3>标签列表</h3>
                <ul class="category-list">
                {% for tag in tagList %}
                    <li class="category-name">
                        <a href="javascript:void(0);">{{ tag.name }}</a>
                        <span class="category-count">{{ tag.count }}</span>
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div class="category-list-wrap">
                <h3>最近常用站点</h3>
                <ul class="category-list">
                {% for name,link in quickLinks.items %}
                    <li class="category-name">
                        <i class="fa fa-link"></i><a href="{{ link }}">{{ name }}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block main_ground_content %}
    <div class="content">
    {% for post in posts.object_list %}
        <div class="post-wrap">
            <div class="post-wrap-header">
                <h4><a href="{% url 'detail' post.post_uuid %}" class="post-wrap-title">
                    {% if post.is_top %}[置顶]{% endif %}
                    {{ post.title }}</a></h4>
                {% if post.is_reprint %}
                <span class="label label-danger"><a href="{{ post.reprint_src }}">转载</a></span>
                {% else %}
                    <span class="label label-primary">原创</span>
                {% endif %}
                <span class="post-info">更新时间：{{ post.update_time }}</span>
                {% if post.category %}
                <span class="post-info">
                    <a href="{% url 'index' %}?category={{ post.category.cate_id }}">[{{ post.category.name }}]</a>
                </span>
                {% endif %}
                <span class="post-info">
                    {% if post.tag %}
                    {% for tag in post.tag.all %}<span class="label label-default">{{ tag.name }}</span>&nbsp;{% endfor %}</span>
                    {% else %}无
                    {% endif %}
            </div>
            <div class="post-wrap-body">
                摘要:  {{ post.abstract }}...
            </div>
            <div class="post-wrap-footer">
                <a href="{% url 'detail' post.post_uuid %}">阅读全文</a>
                <span class="post-info">浏览({{ post.read_count }})</span>
                <span class="post-info">评论({{ post.comments.count }})</span>
                <span class="post-info"><i class="fa fa-thumbs-up"></i>{{ post.greats }}</span>
            </div>
        </div>
    {% endfor %}
        <div class="post-pagination">
            <ul class="pagination">
                {# 上一页 #}
                {% if posts.has_previous %}
                    <li>
                        <a href="?{{ posts.previous_page_number.querystring }}"><span>&laquo;</span></a>
                    </li>
                {% endif %}
                {% for page in posts.pages %}
                    {% if page %}
                        {% ifequal page posts.number %}
                            {# 当前页 #}
                            <li class="active"><a>{{ page }}</a></li>
                        {% else %}
                            {# 指定页 #}
                            <li><a href="?{{ page.querystring }}">{{ page }}</a></li>
                        {% endifequal %}
                    {% else %}
                        <li><a href="#">...</a></li>
                    {% endif %}
                {% endfor %}
                {# 下一页 #}
                {% if posts.has_next %}
                    <li><a href="?{{ posts.next_page_number.querystring }}">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <audio id="oniityann-daisuki" src="{% static 'audio/oniityann.mp3' %}" autoplay></audio>
{% endblock %}

{% block script %}
    {{ block.super }}
{#    <script src="{% static 'comp/layer/layui.js' %}"></script>#}
    <script src="{% static 'ftk/index.js' %}"></script>
{% endblock %}