{% extends 'original/base.html' %}
{% load static %}
{% load ftkblog_tags %}

{% block style %}
    {{ super }}
    <link href="{% static 'comp/jquery/jquery.slideunlock.css' %}" rel="stylesheet" />
    <link href="{% static 'ftk/index.css' %}" rel="stylesheet" />
{#    <link href="{% static 'comp/layer/css/layui.css' %}" rel="stylesheet" />#}
{% endblock %}

{% block carousel %}
    <div class="my-carousel" style="position:fixed;top:0;left:0;height:100%;width:100%;z-index:1001;
            background-image:url({% static 'image/bg/main.jpg' %});background-size: cover;">
        <div class="slideunclock-wrapper">
            <input type="hidden" value="" class="slideunlock-lockable" />
            <div class="slideunlock-slider">
                <span class="slideunlock-label"></span>
                <span class="slideunlock-label-tip"></span>
            </div>
        </div>
        <div class="welcome-title">
            <p>{% dictitem 'welcomeTitle' %}</p>
            <p>{% dictitem 'welcomeText' %}</p>
        </div>
    </div>
{% endblock %}

{% block left_ground_toggle %}{% endblock %}

{% block main_ground_aside %}
    <div class="aside">
        <div class="aside-frame">
            <div class="welcome-info">
                <h3>{{ pageDictInfo.welcomeTitle | default:"欢迎！" }}</h3>
                <hr>
                <p>{{ pageDictInfo.welcomeText | default:"一个半路出家素人的自言自语" }}</p>
            </div>
            {% if site_switch__showEmotion %}
            <div>
                <h4>(╯‵□′)╯︵┻━┻</h4>
                <hr>
                <p>{{ pageDictInfo.recentEmotion | default:"" }}</p>
            </div>
            {% endif %}
            {% if site_switch__showAutoMe %}
            <div class="auto-me">
                <div class="me-avatar"><img src="{% static 'image/profile/profile.jpg' %}"></div>
                <div class="me-name">
                    <h4>
                    {% if site_switch__showAlias %}
                        F. Takanashi
                    {% else %}
                        WYZYPA
                    {% endif %}
                    </h4>
                </div>
                <div class="me-declaration">{{ pageDictInfo.profileDescription|default:"竜神の剣を喰らえ!" }}</div>
                <div class="me-icon">
                    <a href="https://github.com/"><i class="fa fa-github"></i></a>
                    <a href="mailto:{{ mail_addr | default:"wyzypa@gmail.com" }}?subject=来自博客的邮件&subject=来自博客的邮件"><i class="fa fa-envelope"></i></a>
                    <a href="#"><i class="fa fa-rss-square"></i></a>
                </div>
            </div>
            {% endif %}
            <div class="category-list-wrap">
                <h3>分类列表</h3>
                <ul class="category-list">
                {% for category in categoryList|slice:":5" %}
                    <li class="category-name">
                        <a href="{% url 'index' %}?category={{ category.cate_id }}" title="{{ category.description }}">{{ category.name }}</a>
                        <span class="category-count">{{ category.count }}</span>
                    </li>
                {% endfor %}
                {% for category in categoryList|slice:"5:" %}
                    <li class="category-name category-hidden">
                        <a href="{% url 'index' %}?category={{ category.cate_id }}" title="{{ category.description }}">{{ category.name }}</a>
                        <span class="category-count">{{ category.count }}</span>
                    </li>
                {% endfor %}
                </ul>
                {% if categoryList|length > 5 %}
                    <div class="show-more">
                        <span class="caret"></span>
                    </div>
                {% endif %}
            </div>
            <div class="category-list-wrap">
                <h3>标签列表</h3>
                <ul class="category-list">
                {% for tag in tagList|slice:":5" %}
                    <li class="category-name">
                        <a href="{% url 'index' %}?tag={{ tag.tag_id }}" title="{{ tag.description }}">{{ tag.name }}</a>
                        <span class="category-count">{{ tag.count }}</span>
                    </li>
                {% endfor %}
                {% for tag in tagList|slice:"5:" %}
                    <li class="category-name category-hidden">
                        <a href="{% url 'index' %}?tag={{ tag.tag_id }}" title="{{ tag.description }}">{{ tag.name }}</a>
                        <span class="category-count">{{ tag.count }}</span>
                    </li>
                {% endfor %}
                </ul>
                {% if tagList|length > 5 %}
                    <div class="show-more">
                        <span class="caret"></span>
                    </div>
                {% endif %}
            </div>
            <div class="category-list-wrap">
                <h3>最近常用站点</h3>
                <ul class="category-list">
                {% for name,link in quickLinks.items %}
                    <li class="category-name">
                        <i class="fa fa-link"></i><a target="_blank" href="{{ link }}">{{ name }}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block main_ground_content %}
    <div class="content">
        {% if topPosts|length > 0 %}
        <div class="post-wrap">
            <h3 style="text-align:center;">置顶区</h3>
            <div class="row">
            {% for post in topPosts %}
                <div class="col-lg-12 col-sm-12 col-xs-12">
                <h4 class="top-post-title"><a class="post-wrap-title" href="{% url 'detail' post.post_uuid %}">{{ post.title }}</a></h4>
                <div class="top-post-info-wrap">
                {% if post.is_reprint %}
                    <span class="label label-danger"><a href="{{ post.reprint_src }}">转载</a></span>
                {% else %}
                    <span class="label label-primary">原创</span>
                {% endif %}
                    <span class="post-info">更新时间：{{ post.edit_time }}</span>
                    <hr/>
                </div>
                </div>
            {% endfor %}
            </div>
        </div>
        {% endif %}
    {% for post in posts.object_list %}
        <div class="post-wrap">
            <div class="post-wrap-header">
                <h4><a href="{% url 'detail' post.post_uuid %}" class="post-wrap-title">
{#                    {% if post.is_top %}[置顶]{% endif %}#}
                    {{ post.title }}</a></h4>
                {% if post.is_reprint %}
                <span class="label label-danger"><a href="{{ post.reprint_src }}">转载</a></span>
                {% else %}
                    <span class="label label-primary">原创</span>
                {% endif %}
                <span class="post-info">更新时间：{{ post.edit_time }}</span>
                {% if post.category %}
                <span class="post-info">
                    <a href="{% url 'index' %}?category={{ post.category.cate_id }}">[{{ post.category.name }}]</a>
                </span>
                {% endif %}
                <span class="post-info">
                    {% if post.tag %}
                    {% for tag in post.tag.all %}<span class="label label-default">{{ tag.name }}</span>&nbsp;{% endfor %}</span>
                    {% else %}无
                    {% endif %}
            </div>
            <div class="post-wrap-body">
                摘要:  {{ post.abstract }}...
            </div>
            <div class="post-wrap-footer">
                <a href="{% url 'detail' post.post_uuid %}">阅读全文</a>
                <span class="post-info">浏览({{ post.read_count }})</span>
                <span class="post-info">评论({{ post.comments.count }})</span>
                <span class="post-info"><i class="fa fa-thumbs-up"></i>{{ post.greats }}</span>
            </div>
        </div>
    {% endfor %}
        <div class="post-pagination">
            <ul class="pagination">
                {# 上一页 #}
                {% if posts.has_previous %}
                    <li>
                        <a href="?{{ posts.previous_page_number.querystring }}"><span>&laquo;</span></a>
                    </li>
                {% endif %}
                {% for page in posts.pages %}
                    {% if page %}
                        {% ifequal page posts.number %}
                            {# 当前页 #}
                            <li class="active"><a>{{ page }}</a></li>
                        {% else %}
                            {# 指定页 #}
                            <li><a href="?{{ page.querystring }}">{{ page }}</a></li>
                        {% endifequal %}
                    {% else %}
                        <li><a href="#">...</a></li>
                    {% endif %}
                {% endfor %}
                {# 下一页 #}
                {% if posts.has_next %}
                    <li><a href="?{{ posts.next_page_number.querystring }}">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% if site_switch__ontdsk %}
    <audio id="oniityann-daisuki" src="{% static 'audio/oniityann.mp3' %}" autoplay></audio>
    {% endif %}

{% endblock %}

{% block hidden_inputs %}
    {{ block.super }}
    <input type="hidden" id="showCarousel" value="{% if site_switch__slideToUnlock %}True{% else %}False{% endif %}" />
{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="{% static 'comp/jquery/jquery.slideunlock.min.js' %}"></script>
    <script src="{% static 'ftk/index.js' %}"></script>
{% endblock %}